html {
  position: relative;
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

body,
select,
input,
textarea {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight;
  line-height: $line-height;
}

* {
  box-sizing: border-box;
}

a {
  color: $theme-color-secondary;
  text-decoration: none;

  &:visited {
    color: $theme-color-secondary;
  }

  &:hover,
  &:active {
    color: lighten($theme-color-secondary, 10%);
  }

  &.disabled {
    color: $disabled-color;
    pointer-events: none;
  }
}

ul {
  list-style: none;
}

h1 {
  margin-top: 0.333em;
  line-height: 1.125;
}

header {
  position: fixed;
  z-index: 3;
  top: -3.5em;
  right: 0;
  left: 0;
  height: 7em;
  backface-visibility: hidden;
  box-shadow: $box-shadow-bottom;
  transform: translateZ(0);

  @if $useDarkTheme == true {
    background-color: $theme-color-primary;
    color: $font-color-light;
  }

  @else {
    background-color: $theme-color-white;
    color: $font-color;
  }

  @include breakpoint {
    z-index: 9;
  }
}

.header-logo {
  width: 100%;
  height: 3.5em;
  margin-top: 3.5em;

  .header-logo__img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: auto;
  }

  @include breakpoint {
    width: 16em;
  }
}

.header-wrapper {
  position: absolute;
  top: 3.5em;
  left: 3.5em;
  height: 3.5em;
  padding-top: 1em;
  font-weight: 400;
}

footer {
  position: fixed;
  z-index: 6;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.5em;
  backface-visibility: hidden;
  background-color: $theme-color-primary;
  box-shadow: $box-shadow-bottom;
  color: $theme-color-white;
  line-height: 3.5em;
  text-align: center;
  transform: translateZ(0);

  .footer-wrapper {
    font-size: 0.8em;
  }
}

.content {
  position: relative;
  padding: 1em 1em 0;
}

#root {
  min-height: calc(100vh - 7em);
}

.main {
  margin-top: 3.5em;
  margin-bottom: 0.5em;

  @include breakpoint {
    margin-left: 16em;
  }
}

.offline {
  filter: grayscale(1);
}

.hidden {
  visibility: hidden;
}
