.setting-list {
  padding: 0;

  .item {
    position: relative;
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .title {
    display: block;
    color: $theme-color-secondary;
    font-size: 0.8em;
    font-weight: 400;

    &.disabled {
      color: $disabled-color;
    }
  }

  .input {
    position: absolute;
    top: 0;
    right: 3em;
    bottom: 0;
    margin: auto;
  }
}
