.breadcrumbs {
  font-size: 0.8em;
  line-height: 1.25em;
  text-transform: uppercase;
}

.card--breadcrumbs {
  display: none;
  
  @include breakpoint {
    display: block;
  }
}

.breadcrumbs__links {
  padding: 0;
  margin: 0;
  font-size: 0.85em;
  list-style: none;
  text-align: left;
}

.breadcrumbs__links__link {
  display: inline-block;
  margin-right: 0.33em;
  line-height: 1;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: $theme-color-secondary-light;
    text-decoration: none;

    &:visited {
      color: $theme-color-primary;
    }

    &:hover,
    &:active {
      color: lighten($theme-color-primary-light, 10%);
    }

    &.selected {
      color: $theme-color-primary-dark;
      pointer-events: none;
    }
  }
}