<div id="root">{{{data.html}}}</div>
<script>
	window.__PRELOADED_STATE__ = {{{data.preloadedState}}};
	window.__AUTH_TOKEN__ = {{{data.token}}};
	window.__AUTH_REFRESH_TOKEN__ = {{{data.refreshToken}}};
</script>
